<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Light Mode</title>

    <link href="/assets/css/style.css rel=stylesheet">
    <link href="../style.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <!--------------------------------- Hero Section ---------------------------------------->

    <!-- Logo and Menu -->
<section class="mb-10">
    <div class="mb-4 flex items-center justify-between border-b border-black">
        <div class="">
            <a href="#" class="uppercase">name of company</a>
        </div>
        <nav class="flex gap-4">
            
            <a href="#" class="p-2">Nav 1</a>
            <a href="#" class="p-2">Nav 1</a>
            <a href="#" class="p-2">Nav 1</a>
            <a href="#" class="p-2 pr-0">Nav 1</a>
        </nav>
    </div>
    <!-- Main Heading -->
    <div  >
        <h1 class="uppercase text-5xl font-extrabold "> This is a <br> fun heading</h1>
    </div>
    <!-- Hero image -->
    <div class="mb-8">
        <img src="/images/moody-1.jpg">
    </div>
    <!-- hero information  -->
    <div class=" grid grid-cols-6 ">
        <div>
            <h4 class="uppercase font-semibold">fact: <span class="block font-extrabold text-2xl">900</span></h4>
        </div>
        <div>
            <h4 class="uppercase font-semibold">fact: <span class="block font-extrabold text-2xl">Y2K</span></h4>
        </div>
        <div>
            <h4 class="uppercase font-semibold">fact: <span class="block font-extrabold text-2xl">420K</span></h4>
        </div>
        <div class="col-span-3 font-medium">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae fuga itaque et? Vero, totam. Molestiae temporibus, a quam quibusdam sapiente necessitatibus. Temporibus, minima voluptatem? Iure explicabo minima cumque magnam inventore.</p>
        </div>
    </div>
</section>
    <!----------------------------- 1st image gallery section ------------------------------ -->
<section>
    <!-- text -->
    <div class="text-center">
        <h2 class="uppercase font-bold text-3xl leading-snug mb-5">another <br> <span class="capitalize tracking-wide font-light">sick heading for attention</span> </h2>
        <p class="max-w-md mx-auto mb-8">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima laboriosam adipisci cumque hic ullam et, molestiae dolorem optio porro. Tempora vero in veniam deserunt soluta dolore adipisci natus placeat sunt?</p>
    
    </div>
    <!--Gallery  -->
    <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-3 mb-10 ">
        <div>
            <img src="/images/moody-2.jpg">
        </div>

        <div>
            <img src="/images/moody-3.jpg">
        </div>

        <div>
            <img src="/images/moody-4.jpg">
        </div>

        <div>
            <img src="/images/moody-5.jpg">
        </div>

        <div>
            <img src="/images/moody-6.jpg">
        </div>

        <div>
            <img src="/images/moody-7.jpg">
        </div>
    </div>
    <!-- Buttton -->
    <div class="text-center mb-10 ">
        <a class="bg-black text-white  py-2 px-8  uppercase " href="#">sign up</a>
    </div>
</section>

    <!----------------------------------- Sign up and photo ------------------------------------->

    <section >
        <h2 class="uppercase font-bold text-4xl leading-snug mb-20"> this is a <br> fun heading </h2>
        
            <div class="grid grid-cols-2 gap-16 ">
                    <div>
        <h4 class="uppercase font-bold border-b border-black  max-w-[15rem] mb-0">Another</h4>
        <h4 class="mb-8">Sick Heading for attention</h4>
        <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ut incidunt et, autem sapiente quas pariatur atque at tenetur mollitia, sed nulla quod nobis laborum ipsa hic itaque voluptas obcaecati.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ut incidunt et, autem sapiente quas pariatur atque at tenetur mollitia, sed nulla quod nobis laborum ipsa hic itaque voluptas obcaecati.
            </p>
            <p class="mb-8"> ipsum dolor sit amet consectetur adipisicing elit. Ex ut incidunt et, autem sapiente quas pariatur atque at tenetur mollitia, sed nulla quod nobis laborum ipsa hic itaque voluptas obcaecati.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ut incidunt et, autem sapiente quas pariatur atque at tenetur mollitia, sed nulla quod nobis laborum ipsa hic itaque voluptas obcaecati.
        </p>
        <a href="#">Sign Up</a>
    </div>
    <div class="flex">
        <div style="background-image: url('/images/moody-8.jpg');" class="bg-center bg-cover">
        </div>
            <h3 class="font-normal text-xs vertical-text lowercase rotate-180" >credit: some legend</h3>
            <!-- <img src="/images/moody-8.jpg">  -->

    </div>
    </div>
</section>
    
    <!-------------------------------------- Statement ------------------------------------->

 <section>
    <div class="border-t border-b border-solid border-black text-center  ">
        <h4 class="uppercase text-6xl font-extrabold max-w-3xl pt-20 pb-20 mx-auto "> sometimes all you need is a big random block of text to really drive home the point.</h4>
    </div>

</section>

    <!------------------------------------- Gallery ---------------------------------------->
<section class="grid grid-cols-[3rem,1fr] gap-4">
    <div>
        <h3 class="uppercase font-bold text-4xl vertical-text rotate-180">Gallery</h3>

    </div>
    <div>
        <p class="pb-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore amet totam blanditiis reprehenderit odio maiores natus culpa aspernatur numquam beatae? Modi reprehenderit saepe assumenda dolore repudiandae explicabo fuga minima provident.</p>
        <p class="pb-10">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore amet totam blanditiis reprehenderit odio maiores natus culpa aspernatur numquam beatae? Modi reprehenderit saepe assumenda dolore repudiandae explicabo fuga minima provident Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias repudiandae nemo magnam quos eos nisi incidunt, error quae. Perspiciatis voluptate ea animi veritatis atque nisi dicta quae quos, soluta praesentium..</p>

        <a class="bg-black text-white  py-2 px-8  uppercase " href="#">sign up</a>

    </div>
    <div class="text-center mb-5 ">
    </div>


</section>

<!----------------------------------------------- Gallery 2 ------------------------------------>
<section >
    <div class="border-b border-black border-solid">
    <div class="grid grid-cols-4 gap-3 mb-10  ">
        <div>
            <img src="/images/moody-2.jpg">
        </div>

        <div>
            <img src="/images/moody-3.jpg">
        </div>

        <div>
            <img src="/images/moody-4.jpg">
        </div>

        <div>
            <img src="/images/moody-5.jpg">
        </div>

        <!-- <div>
            <img src="/images/moody-6.jpg">
        </div>

        <div>
            <img src="/images/moody-7.jpg">
        </div> -->
    </div>
</div>
</section>

<!--------------------------------------------- Contact Us ----------------------------------->
<section >
    <h2 class="uppercase font-bold text-2xl leading-snug mb-20 "> contact us. </h2>
    
        <div class="grid grid-cols-2 gap-16 ">
                <div>
                    <form class="pb-[5%]">
                        <label  for="name" class="p block uppercase font-extrabold ">name:</label>
                        <input type="text" id="fname" name="fname" class="w-full mb-2 border-b-2 border-solid border-black" placeholder="any name will do"><br>

                        <label  for="name" class=" block uppercase font-extrabold ">email:</label>
                        <input type="text" id="fname" name="fname" class="w-full mb-2 border-b-2 border-solid border-black" placeholder="we prefer something real"><br>
            
            
                        <div >
                            <h3 class="uppercase"></h3>
                                

                                <label for="message" class=" block uppercase font-extrabold">Message</label>
                                <textarea id="message" name="message " class="w-full mb-2 border-2 border-solid border-black "rows="4" cols="50" placeholder="we love a good compliment"></textarea>
                            <div class="text-right">
                                <input type="submit" value="send it baby" class="bg-black text-white py-2 px-4 uppercase cursor-pointe "  > 

                        </div>
                            </div>
                    </form>
  
</div>
<div style="background-image: url('/images/moody-7.jpg');" class="bg-center bg-cover">
    <!-- <img src="/images/moody-8.jpg">  -->
</div>
</div>

<!------------------------------------------------ Footer ------------------------------------->


    <footer class="grid grid-cols-3 p-[5%] mt-8 border-t border-black border-solid ">
        <div class="shrink">
            <h3 class="uppercase font-extrabold">Lorem ipsum </h3>
            <a href="">Lorem ipsum</a>
            <a href="">Lorem ipsum</a>
            <a href="">Lorem ipsum</a>
            <a href="">Lorem ipsum</a>
            
        </div>

        <div class="shrink">
            <h3 class="uppercase font-extrabold">Lorem ipsum </h3>
            <a href="">Lorem ipsum</a>
            <a href="">Lorem ipsum</a>
            <a href="">Lorem ipsum</a>
            <a href="">Lorem ipsum</a>
        </div>

        <form class="pb-[5%]">
            <label  for="name" class="pl-2 block uppercase font-extrabold ">Subscribe to our newsletter:</label><br>
            <input type="text" id="fname" name="fname" class="w-full mb-2 border-2 border-solid border-black"><br>

            <div class="text-right">
                <h3 class="uppercase"></h3>
                    <input type="submit" value="Subscribe" class="bg-black text-white py-2 px-4 uppercase cursor-pointer" >
                </div>
        </form>
        
    </footer>


    
</body>
</html>