<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Light Mode</title>

    <link href="/assets/css/style.css" rel="stylesheet">
    <!-- <link href="../style.css" rel="stylesheet"> -->
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,600&display=swap" rel="stylesheet">
</head>
<body class="bg-[#F3CDBF] font-sans">
    <!--------------------------------- Hero Section ---------------------------------------->

    <!-- Logo and Menu -->
<section class="mb-10">
    <div class="mb-4 flex items-center justify-between border-b border-black">
        <div class="">
            <a href="#" class="uppercase">found collective</a>
        </div>
        <nav class="flex gap-4 uppercase">
            
            <a href="#" class="p-2">about</a>
            <a href="#" class="p-2">services</a>
            <a href="#" class="p-2">hire</a>
            <a href="#" class="p-2 pr-0">featured</a>
        </nav>
    </div>
    <!-- Main Heading -->
    <div  >
        <h1 class="uppercase text-5xl font-extrabold "> creating <br> dream like experiences </h1>
    </div>
    <!-- Hero image -->
    <div class="mb-8">
        <img src="/images/photo2.jpg" class="max-h-[80vh] w-full object-cover object-center">
    </div>
    <!-- hero information  -->
    <div class=" grid grid-cols-6 ">
        <div>
            <h4 class="uppercase font-semibold">weddings: <span class="block font-extrabold text-2xl">450</span></h4>
        </div>
        <div>
            <h4 class="uppercase font-semibold">events: <span class="block font-extrabold text-2xl">650</span></h4>
        </div>
        <div>
            <h4 class="uppercase font-semibold">est: <span class="block font-extrabold text-2xl">2014</span></h4>
        </div>
        <div class="col-span-3 font-medium">
            <p>Cupcake ipsum dolor. Sit amet marshmallow topping cheesecake muffin. Halvah croissant candy canes bonbon candy. Apple pie jelly beans topping carrot cake danish tart cake cheesecake. Muffin danish chocolate soufflé pastry icing bonbon oat cake. Powder cake jujubes oat cake. Lemon drops tootsie roll marshmallow halvah carrot cake.</p>
        </div>
    </div>
</section>
  


{{content}}
<!------------------------------------------------ Footer ------------------------------------->


    <footer class="grid grid-cols-3 p-[5%] mt-8 border-t border-black border-solid ">
        <div class="shrink">
            <h3 class="uppercase font-extrabold">Lorem ipsum </h3>
            <a href="">Lorem ipsum</a>
            <a href="">Lorem ipsum</a>
            <a href="">Lorem ipsum</a>
            <a href="">Lorem ipsum</a>
            
        </div>

        <div class="shrink">
            <h3 class="uppercase font-extrabold">Lorem ipsum </h3>
            <a href="">Lorem ipsum</a>
            <a href="">Lorem ipsum</a>
            <a href="">Lorem ipsum</a>
            <a href="">Lorem ipsum</a>
        </div>

        <form class="pb-[5%]">
            <label  for="name" class="pl-2 block uppercase font-extrabold ">Subscribe to our newsletter:</label><br>
            <input type="text" id="fname" name="fname" class="w-full mb-2 border-2 border-solid border-black"><br>

            <div class="text-right">
                <h3 class="uppercase"></h3>
                    <input type="submit" value="Subscribe" class="bg-black text-white py-2 px-4 uppercase cursor-pointer" >
                </div>
        </form>
        
    </footer>


    
</body>
</html>